{% load staticfiles %}
<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
       <!--<meta http-equiv="refresh" content="60">-->
       <script src="{% static 'js/echarts.min.js' %}"></script>
       <script src="{% static 'js/china.js' %}"></script>
       <script src="{% static 'js/jquery.min.js' %}"></script>
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>
       <script src="{% static 'js/dashboard.js' %}"></script>
   </body>
</html>
